.swiper {
  height: 100vh;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.swiper-slide img {
  height: 40vh;
  margin-bottom: 40px;
}

.button-prev, .button-next, .button-finish {
  padding: 3px 14px;
  border: 2px solid darkturquoise;
  border-radius: 8px;
}